<% @allgenres.each do |genre| %>
  <%= link_to genre.title, genre_path(genre) %>
<% end %>

<% if current_admin? %>
  <h1>New Genre</h1>
  <%= form_for @genre do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.submit "Submit" %>
  <% end %>
<% end %>
