<%= @movie.title %>
<%= @movie.description %>
<%= @movie.director.name %>
<br>
<p>Rating: <%= @movie.rating %></p>
<br>
<h3>Genres for this Movie:</h3>
<ul>
  <% @movie.genres.each do |genre| %>
    <li><%= genre.name %></li>
  <% end %>
</ul>
