<%= @movie.title %>
<%= @movie.description %>
<%= @movie.director.name %>

<h3>Genres for this Movie:</h3>
<ul class="genres">
  <% @movie.genres.each do |genre| %>
    <li>
      <p><%= genre.name %></p>
    </li>
  <% end %>
</ul>

<h3>Rating: <%= @movie.rating %></h3>
